h2 login
- if (errors.length)
    != partial('partials/_error', { collection: errors })
- else
form(action='/login', method='post')
  input(type='text', name='username')
  input(type='password', name='password')
  input(type='submit', value='login')