
/* line 6 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
/*
## FourFiftyNine.com ##
 - Anthony Sessa
 
  444       444        555555555555555
 44444     44444        555555555555555
 44444     44444        555555555555555
 44444     44444  [][]  55555
 444444444444444  [][]  55555
 444444444444444        55555
 444444444444444  [][]  555555555555555
           44444  [][]  555555555555555
           44444                  55555
           44444                  55555
           44444                  55555
           44444                  55555

*/

/* line 13 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/index.styl */

/* line 354 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/vendor.styl */

/* line 2 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/config.styl */

/* line 5 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 3 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/reset.styl */

/* line 4 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/positions.styl */

/* line 2 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/clearfix.styl */

/* line 24 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/overflow.styl */

/* line 2 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 2 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/iconic.styl */

/* line 149 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/gradients.styl */

/* line 2 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/config.styl */

/* line 187 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/buttons.styl */

/* line 354 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/vendor.styl */

/* line 2 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/config.styl */

/* line 149 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/gradients.styl */

/* line 2 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/config.styl */

/* line 13 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/box.styl */

/* line 2 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/node_modules/nib/lib/nib/color-image.styl */

/* line 22 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 25 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 30 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
audio:not([controls]) {
  display: none;
}

/* line 33 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
[hidden] {
  display: none;
}

/* line 36 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 41 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 45 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 50 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 55 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 60 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
a {
  color: #00e;
}

/* line 63 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
a:visited {
  color: #551a8b;
}

/* line 66 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
a:hover {
  color: #06e;
}

/* line 69 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
a:focus {
  outline: thin dotted;
}

/* line 72 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
a:hover,
a:active {
  outline: 0;
}

/* line 75 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 78 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
b,
strong {
  font-weight: bold;
}

/* line 81 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
blockquote {
  margin: 1em 40px;
}

/* line 84 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
dfn {
  font-style: italic;
}

/* line 87 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 95 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 100 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 106 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 111 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 115 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
q {
  quotes: none;
}

/* line 118 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
q:before,
q:after {
  content: none;
}

/* line 121 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
small {
  font-size: 85%;
}

/* line 124 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 130 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
sup {
  top: -0.5em;
}

/* line 133 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
sub {
  bottom: -0.25em;
}

/* line 136 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 140 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
dd {
  margin: 0 0 0 40px;
}

/* line 143 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 149 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 154 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 157 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
figure {
  margin: 0;
}

/* line 160 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
form {
  margin: 0;
}

/* line 163 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 168 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
label {
  cursor: pointer;
}

/* line 171 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 177 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 183 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
button,
input {
  line-height: normal;
}

/* line 186 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 191 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 194 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 200 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 206 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 209 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 213 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 218 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

/* line 223 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 227 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
td {
  vertical-align: top;
}

/* line 230 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 236 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* line 237 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
/** General
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* line 239 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
/*~~ Colors ~~*/

/* line 241 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
body {
  background: url("/images/background.png") repeat;
  font-family: 'museo-slab', serif;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.07);
}

/* line 246 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* line 247 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
/** Typography
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* line 249 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
h1,
h2 {
  font-family: 'tandelle', sans-serif;
}

/* line 251 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* line 252 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
/** Begin FourFiftyNine.com
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*


// @media only screern and (min-width: 35em)

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* line 259 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
/** Utility
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* line 261 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 272 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
.ir br {
  display: none;
}

/* line 275 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 279 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 289 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 297 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
.invisible {
  visibility: hidden;
}

/* line 300 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 304 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
.clearfix:after {
  clear: both;
}

/* line 307 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
.clearfix {
  *zoom: 1;
}

/* line 310 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
@media print {

/* line 311 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
  * {
    background: transparent;
    color: #000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    filter: none;
    -ms-filter: none;
  }

/* line 319 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
  a,
  a:visited {
    text-decoration: underline;
  }

/* line 322 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
  a[href]:after {
    content: " (" attr(href) ")";
  }

/* line 325 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

/* line 328 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

/* line 331 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

/* line 335 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
  thead {
    display: table-header-group;
  }

/* line 338 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
  tr,
  img {
    page-break-inside: avoid;
  }

/* line 341 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
  img {
    max-width: 100%;
  }

/* line 344 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
  @page {
    margin: 0.5cm;
  }

/* line 347 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

/* line 351 : /Users/anthonysessa/Sites/mygit/nodejs/fourfiftynine.com/public/stylesheets/main.styl */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
