/*
## FourFiftyNine.com ##
 - Anthony Sessa - sessa.com
 
  444       444        555555555555555
 44444     44444        555555555555555
 44444     44444        555555555555555
 44444     44444  [][]  55555
 444444444444444  [][]  55555
 444444444444444        55555
 444444444444444  [][]  555555555555555
           44444  [][]  555555555555555
           44444                  55555
           44444                  55555
           44444                  55555
           44444                  55555

*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Begin FourFiftyNine.com
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
/*~~ Colors ~~*/
blue = #587891
lightGrey = #b3adaf
grey = #8a8a8b
darkGrey = #505050

@import 'nib'
@import 'import/_h5bp'


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** General
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html, button, input, select, textarea
  font-family: sans-serif
  color: darkGrey
body
  background: url('/images/background.png') repeat
  smooth()
  text-shadow: 3px 3px 3px rgba(0,0,0,.07)

#spinner
  display: none
  position: absolute !important
  left: 50% !important
  // top: 230px !important
  top: 250px !important

ul
  list-style-position: outside
  margin-top: 0
  padding-left: 20px
  list-style-image: url(/images/bullet.png)
  li
    font-size: 17px
/*~~ Links ~~*/
a:visited
  text-decoration: none
a:active {
  position: relative
  top: 1px
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Typography
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body
  font-family: 'museo-slab', serif
  font-size: 14px
  font-weight: 500
  p
    line-height: 24px

h1,h2,h3
  font-family: 'tandelle', sans-serif

h1
  color: darkGrey
  font-weight: normal
h2
  color: blue
  font-size: 36px
  font-weight: normal

h3
  color: blue
  font-size: 30px
  font-weight: normal
  margin-bottom: 5px

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Layout
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body
  // border-top: 5px solid blue
#top-border
  background: url('/images/background-top.png') repeat-x top
#content
  width: 86%
  h1
    font-size: 100px
    font-weight: normal
    line-height: 100px
    margin-bottom: 40px
    margin-top: 0
    padding-top: 40px
    text-align: center
    padding: 40px 20px 0
  // background: url('/images/background-top.png') repeat-x top
  opacity: 0 
  position: relative
  article
    margin: 0 auto

#navigation
  background: url('/images/background-sidebar.png') repeat
  border-left: 1px solid #000000
  border-left: 1px solid rgba(0,0,0,.1)
  box-shadow: 0 0 9px 0 rgba(0,0,0,.09)
  height: 100%
  // max-width: 245px
  // min-width: 175px
  position: fixed
  right: 0
  top: 0
  width: 14%
  /*~~ Logo ~~*/
  h1 // logo is 234px wide
    padding: 0 10px
    text-align: center
    margin-top: 40px
    img
      width: 95%
  /*~~ Side Navigation ~~*/ 
  nav
    ul
      li
        margin: 10px 10px
        text-align: center
        a
          color: blue
          display: block
          font-family: 'tandelle'
          font-size: 48px
          text-decoration: none
          &:hover
            background: rgba(0,0,0,.04);
            border-radius: 50px;
          &:active
            box 
            position: relative
            top: 1px
            background: rgba(0,0,0,.08)
            border-radius: 50px;
            //color: darkGrey


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Home
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.home
  #content      
    h2
      padding: 0 40px
      color: grey
      text-align: center
      p
        line-height: 44px
      strong
        color: darkGrey
        font-weight: normal
    section
      padding: 0 40px

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Projects
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~ projects/index ~~*/
.projects.index #content
  #images
    margin: 0 auto
    text-align: center
    padding: 0 20px
    a
      border-radius: 5px
      border: 1px solid rgba(151,151,151,.3)
      display: inline-block
      height: 198px
      margin: 10px
      width: 248px
      &:hover
        // box-shadow: 0 0 0 5px rgba(88, 120, 145,.1)
        box-shadow: 0 0 0 5px rgba(0,0,0,.1)
        .image
          box-shadow: none
      &:active
        box-shadow: 0 0 20px 0 rgba(0,0,0,.50) inset
        .image
          box-shadow: 0 0 0 5px blue
          box-shadow: 0 0 0 5px rgba(0,0,0,.1)
      .image
        border-radius: 5px
        box-shadow: 0 0 10px 0 rgba(0,0,0,.12)
        float: left
        height: 200px
        left: -1px
        position: relative
        top: -1px
        width: 250px
        z-index: -1
      .name
        background: rgba(0,0,0,.5)
        border-radius: bottom 5px
        bottom: 0
        color: #ffffff
        font-weight: bold
        padding: 10px 0
        position: absolute
        text-align: center
        width: 100%
      #dekko
        background: url(/images/projects/dekko/thumb.jpg) no-repeat
      #dekko-developer
        background: url(/images/projects/dekko-developer/thumb.jpg) no-repeat
      #halfpretties
        background: url(/images/projects/halfpretties/thumb.jpg) no-repeat
      #drinkchai
        background: url(/images/projects/drinkchai/thumb.jpg) no-repeat 
      #worthington-energy
        background: url(/images/projects/worthington-energy/thumb.jpg) no-repeat 
      #half-pretties
        background: url(/images/projects/half-pretties/thumb.jpg) no-repeat 

/*~~ projects/view ~~*/
.projects.view
  #content
    width: 100%
  #projects
    h1
      font-size: 100px
      line-height: 100px
      margin: 35px 0 5px
      padding: 0
      text-align: left
    h2
      margin: 10px 0 10px
    .arrow
      background: url(/images/sprite-arrows-blue.png)
      display: block
      height: 65px
      width: 29px
      position: fixed
      top: 45%
      &.prev
        left: 35px
        background-position: 0 -65px
      &.next
        right: 14%
        margin-right: 35px
      &:hover
        opacity: .7
    .copy
      float: left
      -webkit-overflow-scrolling: touch
      position: fixed
      left: 0
      width: 35%
      section,
      header
        margin-left: 110px
        &.overview
          a
            text-decoration: none
            color: grey
            border-bottom: 1px dotted grey
            &:hover
              color: darkGrey

        &.website
          a
            display: block
            color: grey
            font-size: 35px
            font-family: 'tandelle', 'sans-serif'
            text-decoration: none
            &:hover
              color: darkGrey
            &.back-to-projects
              font-size: 25px
      p
        text-align: left
        margin-top: 0
        margin-bottom: 10px
        font-size: 17px

    .screenshots
      margin-right: 110px;
      margin-top: 40px;
      position: absolute;
      right: 14%;
      width: 40%;
      img
        border-radius: 10px
        margin-bottom: 40px
        box-shadow: 0 0 10px 0 rgba(0,0,0,.2)
        // opacity: .5
        width: 100%
    /*~~ All Projects Partial ~~*/
    #all-projects
      background: url(/images/background-sidebar.png) repeat
      border-radius: bottom right 10px, top right 10px
      box-shadow: 0 0 9px 0 rgba(0,0,0,.09)
      border: 1px solid #000000
      border: 1px solid rgba(0,0,0,.1)
      padding: 20px
      position: fixed
      bottom: 0px
      left: 0px
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Complex Z-Indexes (might be unnecessary)
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#top-border
  height: 19px
  position: fixed
  top: 0
  width: 100%
  z-index: 1
#projects
  .copy
    z-index: 1
  .arrow
    z-index: 2

// http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px)
  .selector-01 { margin: 10px; }
  .selector-02 { margin: 10px; }
  .selector-03 { margin: 10px; }
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
  h1
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) 
  h1
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) 
  h1
/* iPads landscape) ----------- */
@media only screen and (max-width : 1300px) 
  .projects.view  
    #projects
      .arrow
        &.prev
          left: 20px
        &.next
          margin-right: 20px
      h1
        font-size: 60px
        line-height: 55px
      h2
        margin: 10px 0 5px
      .screenshots
        margin-right: 85px
      .copy
        header,section
          margin-left: 85px
        p
          font-size: 12px
          line-height: 14px
      .specs
        ul
          li
            font-size: 12px
            line-height: 14px

@media only screen and (max-width : 1100px)
  #navigation
    h1
      a
        background: url(/images/logo-numbers.png) no-repeat center
        height: 109px
        margin: 0 auto
        display: block
        img
          display: none
    nav
      ul
        li
          margin: 0
          a
            font-size: 40px
            height: 50px
            line-height: 45px
            margin: 10px 0
            padding: 0 10px
            &:hover,
            &:active
              border-radius: 0
@media only screen and (max-width : 980px) 
  .projects
    &.view
      #projects
        .arrow
          &.prev
            left: 13px
          &.next
            margin-right: 13px
        .screenshots
          margin-right: 65px
        .copy
          header,section
            margin-left: 65px

@media only screen and (max-width : 768px)
  .projects
    .view
      #projects
        h1
          font-size: 40px
        h2
          font-size: 30px

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) 
  h1
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) 
  h1
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) 
  h1
/* Large screens ----------- */
@media only screen and (min-width : 1824px) 
  h1
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)
  h1
// @media only screern and (min-width: 35em)

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Utility
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.ir
  display: block
  border: 0
  text-indent: -999em
  overflow: hidden
  background-color: transparent
  background-repeat: no-repeat
  text-align: left
  direction: ltr
  *line-height: 0

.ir br
  display: none

.hidden
  display: none
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

@media print
  *
    background: transparent
    color: black
    box-shadow: none
    text-shadow: none
    filter: none
    -ms-filter: none

  a, a:visited
    text-decoration: underline

  a[href]:after
    content: " (" attr(href) ")"

  abbr[title]:after
    content: " (" attr(title) ")"

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
    content: ""

  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid

  thead
    display: table-header-group

  tr, img
    page-break-inside: avoid

  img
    max-width: 100%

  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3

  h2, h3
    page-break-after: avoid

