/*
## FourFiftyNine.com ##
 - Anthony Sessa - sessa.com
 
  444       444         555555555555555    99999999999
 44444     44444        555555555555555  999999999999999
 44444     44444        55555      555   99999     99999
 44444     44444  [][]  55555            99999     99999
 444444444444444  [][]  55555            99999     99999
 444444444444444        555555555555555  999999999999999
 444444444444444  [][]  555555555555555    9999999999999
           44444  [][]            55555            99999
           44444                  55555            99999
           44444         555      55555            99999
           44444        555555555555555            99999
           44444        555555555555555            99999

*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Begin FourFiftyNine.com
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
/*~~ Colors ~~*/
blue = #587891
blueA = rgba(88, 120, 145, .4)
lightGrey = #b3adaf
grey = #8a8a8b
darkGrey = #505050

@import 'nib'
@import 'import/_h5bp'
// @import 'import/_custom_chosen'


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** General
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html, button, input, select, textarea
  font-family: 'museo-slab', serif
  color: darkGrey
body
  background: url('/images/background.png') repeat fixed
  smooth()
  text-shadow: 1px 1px 3px rgba(0,0,0,.07)
  overflow-y: scroll

#spinner
  position: absolute !important
  left: 50% !important
  // top: 230px !important
  top: 50% !important

ul
  list-style-position: outside
  margin-top: 0
  padding-left: 20px
  list-style-image: url(/images/bullet.png)
  li
    font-size: 17px
.lt-ie9
  ul
    list-style-image: none
/*~~ Links ~~*/
a,
a:visited
  text-decoration: none
a:active {
  position: relative
  top: 1px
}

transparentPng()
  background: transparent
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)" /* IE8 */   
  zoom: 1

// Transparent image border
.image-border
  border-radius: 5px
  border: 1px solid #ffffff
  border: 1px solid rgba(255,255,255, 0.35)
  box-sizing: border-box
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: @height
  z-index: 2
  behavior: url(/stylesheets/PIE.htc)
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Layout
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// #content
//  border-bottom: 1px dotted blue
//  box-shadow: 0 0 9px 0 rgba(0,0,0,.45)
#content > section
  display: none
  margin-right: 16%
  padding: 0 40px 40px
  &.active-content
    display: block

.lt-ie9
  #content > section
    display: block

footer
  height: 30px
  background: darken(blue, 10)
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Typography
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body
  font-family: 'museo-slab', serif
  font-size: 17px
  font-weight: 300
  // p
  // line-height: 26px

h1,h3,h4
  font-family: 'tandelle', sans-serif

#projects
  h2
    font-family: 'tandelle', sans-serif

h1
  color: darkGrey
  font-weight: 300
  filter: unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)  ')
h2
  padding: 20px 0px;
  margin: 0
  margin-bottom: 20px
  border-bottom: 1px dotted blue
  border-top: @border-bottom
  color: grey
  font-family: 'museo-slab'
  font-size: 25px
  font-weight: 500
  text-align: center
  line-height: 35px
  p
    margin: 0
  strong
    color: darkGrey
    font-weight: 500

h3, h4
  color: blue
  font-size: 24px
  font-weight: 300
  margin-bottom: 5px

h4
  font-size: 45px
  margin-top: 30px
  margin-bottom: -10px

dottedLink()
  a
    text-decoration: none
    color: grey
    border-bottom: 1px dotted grey
    &:hover
      color: darkGrey

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Buttons
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.btn
  &.grey
    background: lightGrey
    background: linear-gradient(top, lightGrey, grey)
    border: 2px solid grey
    border-radius: 50px
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,.07)
    color: white
    display: inline-block
    font-family: 'museo-slab', serif
    font-size: 17px
    height: 30px
    line-height: 30px
    padding: 0 20px
    behavior: url(/stylesheets/PIE.htc)
    &:hover,
    &.active
      border: 2px solid lighten(blue, 10)
      background: blue
    &:active,
    &.active
      border: 2px solid lighten(blue, 30)
      box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,.17)

input[type="submit"].btn.grey
  height: 40px
  line-height: 40px
  border-radius: 5px

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Forms / Inputs
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// TODO reorganize not logical at all
form
  clear: both
  padding-right: 5%
  margin-top: 20px
  margin-right: 5%
label
  display: block
  margin: 15px 0 5px
  font-size: 24px
// .input
//  border: 1px solid #587891
/*
input[type="text"], 
input[type="email"], 
input[type="organization"],
input[type="tel"],
input[type="date"],
*/
input.text,
textarea
  background: white
  border-radius: 5px
  border: 3px solid blue
  border: 3px solid blueA
  // box-shadow: 2px 2px 10px 0 rgba(0,0,0,.07)
  box-shadow: 2px 2px 10px -4px #adadad
  padding: 10px
  width: 100%
  -webkit-appearance: none;
  // height: 30px
  // line-height: 30px
  font-size: 24px
  box-sizing: border-box
  behavior: url(/stylesheets/PIE.htc)


.two-column
  input.text
    // height: 20px
    // line-height: 20px
    font-size: 18px
  label.error
    top: 25px
  #project-message-label
    padding-top: 15px
  .textarea
    clear: both
input[type="submit"]
  margin-top: 15px
  float: right
  &:active
    position: relative
    top: 1px

input:focus,
textarea:focus
  border: 3px solid blue
  outline: none
textarea, textarea:valid
  font-size: 24px
  height: 150px
  min-height: @height
input:invalid, textarea:invalid
input.error, textarea.error
  background-color: #f0dddd
  border-color: #f06e61
form
  .field
    position: relative
  .right,
  .left
    width: 48%
  .left
    float: left
  .right
    float: right

label[for="message"]
  clear: both
  margin-top: 10px

label.error
  margin: 0
  color: #F06E61
  position: absolute
  font-size: 14px
  top: 10px
  right: 1px

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Layout
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body
  // border-top: 5px solid blue
#top-border
  background: url('/images/background-top.png') repeat-x top
#content
  // width: 86%
  display: none
  position: relative
  h1
    font-size: 95px
    font-weight: 300
    line-height: @font-size
    margin-bottom: 40px
    margin-top: 0
    padding-top: 60px
    text-align: center
  // background: url('/images/background-top.png') repeat-x top
  // opacity: 0

  article
    margin: 0 auto

.lt-ie9 #content
  display: block
#navigation
  background: url('/images/background-sidebar.png') repeat
  // border-left: 1px solid blue
  border-left: 1px dotted blue
  // box-shadow: 0 0 9px 0 rgba(0,0,0,.25)
  box-shadow: 0 0 9px -2px #adadad
  height: 100%
  // max-width: 245px
  // min-width: 175px
  position: fixed
  right: 0
  top: 0
  width: 14%
  // transition: all .3s .1s ease-in-out
  behavior: url(/stylesheets/PIE.htc)
  // &:hover
  // transition: all .3s .1s ease-in-out

  /*~~ Logo ~~*/
  h1 // logo is 234px wide
    padding: 0 10px
    text-align: center
    margin-top: 40px
    img
      width: 95%
  /*~~ Side Navigation ~~*/ 
  nav
    ul
      li
        margin: 10px 10px
        text-align: center
        a
          color: blue
          display: block
          font-family: 'tandelle'
          font-size: 48px
          text-decoration: none
          background: none
          border-radius: 50px
          transition: background .3s .1s ease-in-out
          &:hover,&.active
            background: rgba(0,0,0,.04)
            border-radius: 50px
            transition: background .3s .1s ease-in-out
          &:active
            //box 
            position: relative
            top: 1px
            background: rgba(0,0,0,.08)
            border-radius: 50px
            //color: darkGrey

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Home /root & About Pages
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#content      
  section#home,
  section#about,
  section#projects-list,
  section#technology
    >article
      max-width: 1080px

section#home
  .slideshow-container

    // border-bottom: 1px dotted blue
    width: 100%
    // max-width: 1080px
  #slideshow
    // width: 100% !important
    // height: auto !important
    img
      max-width: 100%
      height: auto
      width: auto
      border-radius: 5px
      box-shadow: 0 0 10px -2px #adadad
      // behavior: url(/stylesheets/PIE.htc)
    nav
      // position: absolute
      // bottom: 0px
      // margin: 0 auto
      
      margin: 20px auto
      width: ((10+5)*4) - 5px
      a
        float: left
        background: darkGrey
        height: 10px
        width: 10px
        border-radius: 3px
        text-indent: -99999px
        margin-left: 5px
        box-shadow: 1px 1px 3px -1px #adadad
        // behavior: url(/stylesheets/PIE.htc)
        &:first-child
          margin-left: 0
        &.activeSlide
          background: blue
  .development
    margin-bottom: 40px
    h3
      color: darkGrey
      font-size: 55px
      margin: 10px 0 
      text-align: center
    section
      text-align: center
      float: left
      width: 33%
      // border-left: 1px dotted blue
      &.web-applications
        border-left: 0
      ul
        margin: 0
        padding: 0
        li
          font-size: 15px
          list-style: none
          list-style-position: inside
    h4
      font-size: 35px
      padding: 10px 0
      margin: 10px 20px
      border-bottom: 1px dotted blue
      border-top: 1px dotted blue
    
.lt-ie9
  section#home #slideshow 
    nav
      width: 65px

/*~~ Technology ~~*/
section#technology
  //strong
  /*  h2
    border-bottom: none
    border-top: none
    margin-bottom: 0
  h3
    margin-top: 20px
    margin-bottom: 0
    color: darkGrey
    font-size: 65px
  .love
    font-size: 30px
    line-height: 30px
    margin-bottom: 25px
    text-align: center
    padding-bottom: @margin-bottom
    padding-top: @margin-bottom
    border-bottom: 1px dotted blue
    border-top: @border-bottom
  */
  .branding 
    float: left
    background: url(/images/sprite-tech-badges-vertical.png) no-repeat
    width: 160px
    margin-right: 15px
    margin-top: 5px
    filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)")
  article.technology-description
    p
    margin: 0
    margin-top: 6px
    float: none
    dottedLink()
    //float: left
  section
    clear: both
    margin-bottom: 25px
  #html5
    .branding
      background-position: 30px 0
      height: 151px
  #rubyonrails
    .branding
      background-position: 30px -170px
      height: 151px
  #wordpress
    .branding
      background-position: 0 -370px
      height: 110px
  #shopify
    .branding
      background-position: 0 -650px
      height: 130px
  #magento
    .branding
      margin-top: 0
      background-position: 0 -767px
      height: 135px
  #nodejs
    .branding
      background-position: 0 -505px
      height: 130px
  #github
    .branding
      background-position: 0 -1040px
      height: 70px


section#about
  #origin
    margin-top: 20px
    font-size: 20px
    line-height: 30px
    .sessa
      position: relative
    .sessa img
      float: left
      border-radius: 6px
      box-shadow: 0 0 10px -2px #adadad
      width: 20%
    .text
      float: left
      width: 80%
      p
        margin: 0 0 0 25px
        line-height: 35px
        .time
          color: darkGrey
          line-height: 0px
          font-size: 45px
          font-family: 'tandelle'
          position: relative
          top: 9px
          .colon
            color: lightGrey
            position: relative
            top: -8px
            margin: 0 4px
        .signature
          float: right
          font-size: 14px
          position: relative
          top: 5px
          right: 20px
          
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Projects /projects
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~ projects/index ~~*/
#projects-list
  #images
    margin: 0 auto
    text-align: center
    padding: 0 // 20px
    a.project
      border-radius: 6px
      // box-shadow: 0 0 10px 0 rgba(0,0,0,.12)
      box-shadow: 0 0 10px -2px #adadad

      cursor: pointer
      display: inline-block
      margin: 25px
      position: relative
      behavior: url(/stylesheets/PIE.htc)
      &:hover
        box-shadow: 0 0 0 5px rgba(0,0,0,.1);
      &:active
        .image-border
          border-color: rgba(0,0,0,.50)
        box-shadow: 0 0 0 5px rgba(0,0,0,.1);
        top: 0
        .image-border
          box-shadow: 0 0 20px 0 rgba(0,0,0,.50) inset
      img.image
        position: relative
        border-radius: 6px
        width: 250
        height: 200
        behavior: url(/stylesheets/PIE.htc)
      .name
        background: rgba(0,0,0,.5)
        border-radius: bottom 5px
        bottom: 0
        color: #ffffff
        display: block
        font-weight: bold
        padding: 10px 0
        position: absolute
        text-align: center
        width: 100%
        z-index: 1
/*~~ projects/view ~~*/
// .projects.view #content width: 100%
#projects
  article
    display: none
    &.active-content
      display: block
  h1
    font-size: 100px
    line-height: 100px
    margin: 35px 0 5px
    padding: 0
    text-align: left
  h2
    color: blue
    font-size: 36px
    font-weight: 300
    margin: 10px 0 10px
    padding: 10px 0
    text-align: left
  .arrow
    transparentPng()
    display: block
    height: 65px
    width: 29px
    position: fixed
    top: 45%
    &#prev
      left: 35px
      background-position: 0 -65px
    &#next
      right: 16%
      margin-right: 35px
    &:hover
      opacity: .7
  .copy
    float: left
    -webkit-overflow-scrolling: touch
    position: fixed
    left: 0
    width: 35%
    section,
    header
      margin-left: 110px
    section
      &.overview
        dottedLink()
      &.website,
      &.in-page-navigation
        a
          display: block
          color: grey
          font-size: 35px
          font-family: 'tandelle', 'sans-serif'
          text-decoration: none
          &:hover
            color: darkGrey
      &.in-page-navigation
        a
          &.back-to-projects
          &.top
            font-size: 25px
          &.top
            display: none
    p
      text-align: left
      margin-top: 0
      margin-bottom: 10px
      font-size: 17px

  .screenshots
    margin-right: 110px
    margin-top: 40px
    position: absolute
    right: 16%
    width: 38%
    img
      border-radius: 10px
      margin-bottom: 40px
      // box-shadow: 0 0 10px 0 rgba(0,0,0,.12)
      box-shadow: 0 0 10px -2px #adadad
      behavior: url(/stylesheets/PIE.htc)
      // opacity: .5
      width: 100%
  /*~~ All Projects Partial ~~*/
  #all-projects
    background: url(/images/background-sidebar.png) repeat
    border-radius: bottom right 10px, top right 10px
    box-shadow: 0 0 9px 0 rgba(0,0,0,.09)
    border: 1px solid #000000
    border: 1px solid rgba(0,0,0,.1)
    padding: 20px
    position: fixed
    bottom: 0px
    left: 0px

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Contact Page /contact
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#content > section#contact 
  padding: 0
#contact
  article
    border-right: 1px dotted blue
    float: left
    margin-right: -2px
    margin-left: 5% 
    margin-top: 40px
    position relative
    // max-width: 750px
    width: 65%
    h1
      margin: 0 0 40px
      padding: 0 5px
      text-align left
    nav
      width: 415px
      li
        float: left
        margin-left: 10px
        &:first-child
          margin-left: 0
  form
    display: none
    margin-bottom: 20px
    &.active
      display: block
/*
.lt-ie9
  #contact form
    label.error
      position: relative
      top: 0
    .field
      float: none
      input, textarea
        width: 400px
      textarea
        height: 200px
*/


#contact-info
  margin: 170px 2.5% 40px 0
  padding: 0
  padding-left: 2.5%
  float: right
  width: 25%
  #spinner
    opacity: 0
    position: static !important
    margin: 110px auto
  #success-message
    opacity: 0
    font-size: 50px
    line-height: @font-size
    width: 100%
    margin-top: 70px
    text-align: center
  h3
    width 80px
    font-size: 30px
  h3,p
    float: left
    margin: 0
    padding: 0
  //dottedLink()
  .icon
    background: url(/images/sprite-icons.png) no-repeat
    display inline-block
    position relative
    top 9px
    height: 40px
    width: 45px
  #phone 
    .icon
      background-position: 0 -37px
  #email 
    clear: both
    .icon
      background-position: 0 0  
  #email, #phone
    p, a
      font-size: 16px
      margin: 0
      position: relative
      top: 13px
      display: block
      color: darkGrey
      &:hover
        color: lightGrey
  #turn-around p
    padding-top: 20px
    border-top: 1px dotted #587891
    margin-top: 20px
    font-size: 17px
    text-align: center
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Complex Z-Indexes (might be unnecessary)
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#top-border
  height: 19px
  position: fixed
  top: 0
  width: 100%
  z-index: 3
#content
  z-index: 2
footer
  z-index: 1

#navigation
  z-index: 3
#projects
  .copy
    z-index: 1
  .arrow
    z-index: 2


// http://css-tricks.com/snippets/css/media-queries-for-standard-devices/


/* iPads landscape) ----------- */
@media only screen and (max-width : 1300px) 
  #projects-list
    #images a.project
      margin: 10px
      .image
        width: 225px
        height: 180px
      .name
        font-size: 15px
  #projects
    .arrow
      &#prev
        left: 20px
      &#next
        margin-right: 20px
    h1
      font-size: 60px
      line-height: 55px
    h2
      font-size: 30px
      padding: 5px 0
      margin: 10px 0 5px
    .screenshots
      margin-right: 85px
    .copy
      header,section
        margin-left: 85px
      p
        font-size: 12px
        line-height: 16px
    .specs
      ul
        li
          font-size: 12px
          line-height: 14px
  /*~~ Contact Page~~*/   
  #contact-info
    h3
      width: 60px
      font-size: 25px
    span.icon
      display: none
    #phone, #email 
      a
        clear: both
        top: 0
        font-size: 15px
    #success-message
      font-size: 30px
      line-height @font-size
  /*~~ Inputs~~*/
  form.two-column
    label
      font-size: 17px
    input.text, textarea
      padding: 5px
      // height: 20px
      // line-height: 20px
      font-size: 15px
    .right, .left
      width: 48%
    .field
      margin-top: 10px
    label.error
      top: initial
      bottom: -23px
      right: 1px
      font-size: 13px
    .textarea
      label.error
        top: 16px
  /*~~ About Page~~*/   
  section#about
    #origin
      font-size: 17px
      .text p
        line-height: 26px
        .time
          font-size: 30px
          top: 5px
          .colon
            top: -5px
@media only screen and (max-width : 1100px)
  header 
    h2
      font-size: 20px
      line-height: @font-size + 5
  #navigation
    width: 16%
    h1
      a
        background: url(/images/logo-numbers.png) no-repeat center
        height: 109px
        margin: 0 auto
        display: block
        img
          display: none
    nav
      ul
        li
          margin: 0
          a
            font-size: 30px
            height: 35px
            line-height: 35px
            margin: 10px 0
            padding: 0 10px
            border-radius: 0
            &:hover,
            &:active,
            &.active
              border-radius: 0

@media only screen and (max-width : 980px) 
  #projects
    .arrow
      &#prev
        left: 13px
      &#next
        margin-right: 13px
    .screenshots
      margin-right: 65px
      width: 35%
    .copy
      header,section
        margin-left: 65px
  #contact-info
    #phone, #email
      a
        font-size: 13px
  form.two-column
    label.error
      font-size: 12px
/*  #contact-info
    #phone p,
    #email a
      font-size: 13px
*/

@media only screen and (max-width : 768px)
  #content header h1
    font-size: 70px
    line-height: @font-size
  #projects
    h1
      font-size: 40px
    h2
      font-size: 30px
  section#about #origin
    .sessa
      margin: 0 25px 10px 0;
    .text 
      font-size: 13px
      float: none
      width: 100%
      p
        margin: 0
        line-height: 18px
        .time
          font-size: 24px
          top: 4px
          .colon
            margin: 0 3px
            top: -5px
  section#home
    .development
      h3
        font-size: 40px
      section
        float: none
        width: 100%
        h4
          margin-left: 0
          margin-right: 0

/* iPhone [landscape] */
@media only screen and (max-width: 545px)
  body
    p
      font-size: 12px
  #content
    header h1
      font-size: 40px
      line-height: 40px
      padding-top: 0
      margin-bottom: 20px
    header h2
      font-size: 13px
      padding: 10px 5px
      p
        line-height: 15px
    > section
      margin-right: 0
      padding: 0
      // padding: 0 5px
      article
        padding: 0 10px
  #navigation
    background: none
    box-shadow: none
    border-left: 0
    position: static
    width: 100%
    h1
      margin: 0
      padding: 0
      a
        background: none
        padding: 20px 0 0
        height: auto
        img
          display: block
          width: 45%
          margin: 0 auto
    nav
      //width: 90%
      padding: 5px 10px
      margin: 15px 0 20px
      border-left: 0
      border-top: 1px dotted blue
      border-bottom: @border-top
      background: url('/images/background-sidebar.png') 
      ul
        li
          float: left
          width: 25%
          a
            font-size: 25px
            padding: 0
            margin: 0
            height: auto
            line-height: auto
            border-radius: 5px
            &:active,
            &:hover
              border-radius: 5px
  #projects-list
    #images a.project
      margin: 10px
      .image
        width: 175px
        height: 140px
      .name
        font-size: 15px
  #content #projects
    margin-bottom: 30px
    h1
      margin-top: 0
      text-align: center
      font-size: 70px
      line-height: 70px
    h2
      font-size: 30px
      text-align: center
    .copy
      float: none
      margin: 0 auto
      width: 95% !important
      position: static !important
      header,
      section
        margin-left: 0
    .screenshots
      position: static
      margin: 0
      width: 100%
      img
        display: block
        margin: 10px auto
        width: 92%
    .arrow
      background: url(/images/sprite-arrows-blue.png)
      height: 36px
      top: auto
      bottom: 30px
      img
        display: none
      &#prev
        background-position: 0 -128px
        left: 6px
      &#next
        background-position: 0 -160px
        right: -11px
        margin: 0
    .website
      float: right
      margin-right: 10px
      a
        line-height: 25px
        font-size: 25px
    .in-page-navigation
      float: left
      margin-left: 20px
      margin-bottom: 20px
      a
        font-size: 20px
  section#about
    h2
      margin-bottom: 0
    h4
      margin: 15px 0 5px
      font-size: 30px
      text-align: center
    #origin
      .sessa
        margin: 0
        img
          width: 25%
          margin: 0 10px 2px 0
      .text
        p
          font-size: 10px
          line-height: 11px
          .time
            font-size: 17px
  section#contact
    #success-message
      display: none
    article
      h1
        margin: 20px 0
        text-align: center
      width: 100%
      float: none
      border: 0
      margin: 0
      padding: 0
      header,form
        padding: 0 5px
      form
        margin: 0 0 20px
        select
          font-size: 10px

      nav
        width: 100%
        ul li
          margin: 0
          width: 50%
          a
            padding: 0
            width: 100%
            margin: 0
            border-radius: 0
            border: 0
            text-align: center
    #contact-info
      text-align: center
      margin: 0
      float: none
      width: 100%
      padding: 0
      h3
        text-align: center
        width: 100%
      #turn-around p
        width: 100%
  section#technology
    .branding
      margin: 0 auto
      float: none
/* iPhone [portrait] */
@media only screen and (max-width: 320px)
  #projects-list
    #images a.project
      margin: 10px
      .image
        width: 125px
        height: 100px
      .name
        font-size: 10px
        padding: 5px 0
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)
  h1


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Utility
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.ir
  display: block
  border: 0
  text-indent: -999em
  overflow: hidden
  background-color: transparent
  background-repeat: no-repeat
  text-align: left
  direction: ltr
  *line-height: 0

.ir br
  display: none

.hidden
  display: none
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

@media print
  *
    background: transparent
    color: black
    box-shadow: none
    text-shadow: none
    filter: none
    -ms-filter: none

  a, a:visited
    text-decoration: underline

  a[href]:after
    content: " (" attr(href) ")"

  abbr[title]:after
    content: " (" attr(title) ")"

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
    content: ""

  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid

  thead
    display: table-header-group

  tr, img
    page-break-inside: avoid

  img
    max-width: 100%

  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3

  h2, h3
    page-break-after: avoid