- view_body_class.set("index");
- page_title.set("Projects");
article
  header
    h1 Some of our Offspring
    h2
      :markdown
        We gave birth to the majority of these projects **within the last year**.  Simply put, we **love** interesting projects, no matter how large or small they may be - we find great pleasure in creating websites you can be **proud of for years to come**.

    #images.clearfix
      a(href='/projects/dekko')
        .image#dekko
          .name Dekko
      a(href='/projects/half-pretties')
        .image#half-pretties
          .name Half Pretties
      a(href='/projects/worthington-energy')
        .image#worthington-energy
          .name Worthington Energy
      a(href='/projects/dekko-developer')
        .image#dekko-developer
          .name Dekko Developer
      a(href='/projects/drinkchai')
        .image#drinkchai
          .name DrinkChai
      a(href='/projects/whosright')
        .image#whosright
          .name WhosRight
      a(href='/projects/gospelflatfarm')
        .image#gospelflatfarm
          .name Gospel Flat Farm
      a(href='/projects/ezcustomshirts')
        .image#ezcustomshirts
          .name EZCustomShirts
      a(href='/projects/wellness-center-usa')
        .image#wellness-center-usa
          .name Wellness Center Usa
    h1 Want to work with us yet?

