- view_body_class.set("index");
- page_title.set("Projects");
article
  header
    h1 Another tagline here for projects
    #images.clearfix
      a(href='/projects/dekko')
        .image#dekko
          .name Dekko Inc
      a(href='#')
        .image#halfpretties
          .name Half Pretties
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/3')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/4')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/5')
      a(href='#')
        .image#dekko
      a(href='#')
        .image#halfpretties
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/3')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/4')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/5')
      a(href='#')
        .image#dekko
      a(href='#')
        .image#halfpretties
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/3')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/4')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/5')