- view_body_class.set("index");
- page_title.set("Projects");
article
  header
    h1 Another tagline here for projects
    #images.clearfix
      a(href='/projects/dekko')
        .image#dekko
          .name Dekko
      a(href='/projects/half-pretties')
        .image#half-pretties
          .name Half Pretties
      a(href='/projects/dekko-developer')
        .image#dekko-developer
          .name Dekko Developer
      a(href='/projects/drinkchai')
        .image#drinkchai
          .name DrinkChai
      a(href='/projects/worthington-wenegy')
        .image#drinkchai
          .name Worthington Energy

      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/3')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/4')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/5')
      a(href='#')
        .image#dekko
      a(href='#')
        .image#halfpretties
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/3')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/4')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/5')
      a(href='#')
        .image#dekko
      a(href='#')
        .image#halfpretties
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/3')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/4')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/5')