- view_body_class.set("index");
- page_title.set("Projects");
section#projects-list
  article
    header
      h1 Some of Our Work
      h2
        :markdown
          We gave birth to the majority of these projects **within the last year**.  We **love** interesting clients and taking on the challenges they face, regardless of how large or small.  We find great pleasure in creating products you can be proud of **for years** to come.

    #images.clearfix
      a.project.pushstate(href='/projects/dekko') 
        img.image(src="/images/projects/dekko/thumb.jpg", width="250", height="200")
        i.image-border
        span.name Dekko
      a.project.pushstate(href='/projects/half-pretties') 
        img.image(src="/images/projects/half-pretties/thumb.jpg", width="250", height="200")
        i.image-border
        span.name Half Pretties
      a.project.pushstate(href='/projects/worthington-energy') 
        img.image(src="/images/projects/worthington-energy/thumb.jpg", width="250", height="200")
        i.image-border
        span.name Worthington Energy
      a.project.pushstate(href='/projects/dekko-developer') 
        img.image(src="/images/projects/dekko-developer/thumb.jpg", width="250", height="200")
        i.image-border
        span.name Dekko Developer
      a.project.pushstate(href='/projects/drinkchai') 
        img.image(src="/images/projects/drinkchai/thumb.jpg", width="250", height="200")
        i.image-border
        span.name DrinkChai
      a.project.pushstate(href='/projects/whosright') 
        img.image(src="/images/projects/whosright/thumb.jpg", width="250", height="200")
        i.image-border
        span.name WhosRight
      a.project.pushstate(href='/projects/gospelflatfarm') 
        img.image(src="/images/projects/gospelflatfarm/thumb.jpg", width="250", height="200")
        i.image-border
        span.name Gospel Flat Farm
      a.project.pushstate(href='/projects/ezcustomshirts') 
        img.image(src="/images/projects/ezcustomshirts/thumb.jpg", width="250", height="200")
        i.image-border
        span.name EZCustomShirts
      a.project.pushstate(href='/projects/wellness-center-usa') 
        img.image(src="/images/projects/wellness-center-usa/thumb.jpg", width="250", height="200")
        i.image-border
        span.name Wellness Center Usa