section#projects.clearfix
  a.arrow.prev(href='/')
  a.arrow.next(href='/')
  article#dekko
    section.copy
      header
        h1 Dekko Inc.
      section.overview
        h2 Overview
        p Dekko Inc. provided us with a clear design and user experience direction. Working along side their fantastic team we thoroughly enjoyed impelementing a top notch, HTML5, iPhone and iPad compatable WordPress theme.
        p Additionally we utilized YouTube’s advanced JavaScript SDK in order to create a custom video playback experience
      section.specs
        h2 Technical Specs
        ul
          li WordPress
          li HTML5
          li CSS3
          li Elegant degredation of CSS3/HTML5 using Modernizr
          li YouTube JavaScript API
          li Custom iPad / iPhone mobile Safari detection
      section.tags
    section.screenshots
      img(src='/images/projects/dekko/1.png', class='active')
      img(src='/images/projects/dekko/1.png')
