- view_body_class.set("");
section#about
  article
    header
      h1 We develop and design top of the line websites.
      h2
        :markdown
          Our process adheres to industry **best practices** in addition to what we have gathered on our own with **decades** worth of **development**, **design**, and **user experience** knowledge.

      :markdown
        Vivamus at dui in odio rhoncus tincidunt eget vel nisi. Morbi in justo non elit ultrices dapibus nec sed lacus. Ut eu leo turpis, id gravida elit. Phasellus at quam sem. Cras vitae augue augue. Maecenas sagittis, tellus quis scelerisque sollicitudin, eros eros porttitor dolor, sed ornare risus justo eget nulla. Quisque lobortis scelerisque aliquet. Sed consequat nisi nec tortor tincidunt suscipit. Sed vel tellus eget erat condimentum pretium imperdiet eu nulla. Aenean aliquet vulputate lacus, eget iaculis est porttitor a. Quisque commodo dolor id ligula facilisis hendrerit. Aliquam pulvinar, purus id venenatis malesuada, ligula lacus fringilla turpis, et euismod risus sem ac arcu.


        Suspendisse eget diam ipsum. Nulla non euismod ipsum. Nullam rutrum fermentum purus, in molestie lorem aliquam eget. Curabitur in ipsum sit amet mi faucibus ornare in sed neque. Pellentesque eu nunc ante. Maecenas ultrices, leo vitae bibendum mattis, nibh diam sagittis quam, id ornare lacus lorem non odio. Integer rutrum velit nec elit fermentum ac cursus nunc ornare. Proin et nunc quis quam rhoncus sollicitudin ac eu metus. Aliquam sit amet ornare dui.


        Nam semper dolor quis leo molestie vitae laoreet diam varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer quis augue vel nunc mattis laoreet id at odio. Aliquam felis nulla, varius sed fringilla sit amet, luctus vitae quam. Sed ut diam in velit tempus posuere. Phasellus dolor massa, iaculis semper rhoncus a, dictum bibendum orci. Fusce rutrum ultrices molestie. Suspendisse in urna nisl, nec dapibus risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed leo purus, rutrum ut molestie quis, viverra vitae augue. Donec ultricies, risus id aliquam tempus, orci ante lobortis quam, id tempor est ipsum vitae ligula. Mauris tempor consectetur tellus tempus feugiat. Maecenas sed libero purus, et fermentum leo. Cras congue vestibulum pharetra. Donec at pulvinar eros.
    //- section#what
      h3 For the Technical Folks
      article
        ul
          li Node.js - expressjs + jade + stylus = event driven web applications done in a beautiful way
          li Ruby on Rails + HAML + SASS = MVC at its best
          li 
          li OOP JavaScript, Modernizr, Bleeding edge front-end and back-end development
