- view_body_class.set("");
- page_title.set("About Us");
section#about
  article
    header
      h1 About Us
      h2
        :markdown
          We build products that look great, work even better and are well worth the **time and money** invested.  **No shortcuts.**

      h4 FourFiftyNine
      #origin.clearfix
        img.sessa(src="/images/sessa.jpg")
        .text
          :markdown
            "All too often at my day job I'd notice myself seeing the time <span class="time">4<span class="colon">:</span>59</span> at the top right of my MacBook. I knew my 'work' day was about to end, and the work I truly wanted to do would soon be starting. Now that I have started a company, I couldn't have thought of a better name to encapsulate the culture and work ethic I desired.  Simply put, we don't watch the clock because we love what we do." <br /><span class="signature">- Anthony Sessa, CEO & Founder</span>

      h4 Technically Sound
      :markdown
        In our collective experience working at many different companies with many different business models, we see a pervasive fundamental lack of technical know-how.  A large part of the issue comes from non-technical leadership and the simple fact that clients trust that the product they receive is coded well.
        
        At **FourFiftyNine** our goal is to not only build beautiful, pixel-perfect products that look flawless and make users feel great while using them, but to make sure the final product as technically sound as it is visibly.  Too much money is wasted redeveloping poorly coded products. We understand why minimum viable products exist, but that doesn't mean shortcuts should be taken on the back-end.

      //- h4 Transparency
      //- :markdown
      //-   We don't like building cheap websites. As a result we believe that the customer deserves the utmost transparency.  Every hour charged is logged, noted, and has been scrutinized to make sure it added value to the project.  