- view_body_class.set("");
- page_title.set("Contact Us");
article
  header
    h1 Send Us a Message
  nav
    ul
      li
        a.btn.grey.active(href='#') Message
      li
        a.btn.grey(href='#') Project
      li
        a.btn.grey(href='#') Work With Us
  .form-container
    form.clearfix(action="/question", method="post")
      label(for="name") Name
      div.input
        input#name(type='text', name="name")
      label(for="email") Email
      div.input
        input#email(type='email', name="email")
      label(for="message") Message
      div.input
        textarea#message(name="message")
aside#contact-info
  #call
    h3
      span.icon
      | Give Us a Call
    p (646) 770-2459
  #email
    h3
      span.icon
      | Email Us
    a(href='mailto:team@fourfiftynine.com') team@fourfiftynine.com