- view_body_class.set("");
section#home
  article
    header
      h1 We develop and design top of the line websites.
      h2
        :markdown
          We create world class web applications using industry best practices in addition to what we have learned over the years accomplishing development, tailoring  design, and architecting user experience.

        //-
          Using industry **best practices** in addition to what we have learned during **decades** worth of **development**, **design**, and **user experience** knowledge, we create world class web applications.

        //-  Our process adheres to industry **best practices** in addition to what we have gathered on our own with **decades** worth of **development**, **design**, and **user experience** knowledge.
    .slideshow-container
      #slideshow
        img(src="/images/slides/dummy.gif", width="1080")
        a.slide.pushstate(href="/projects/drinkchai", title="View project DrinkChai.com")
          img(src="/images/slides/drinkchai.jpg")
        a.slide.pushstate(href="/projects/policymic", title="View project PolicyMic.com")
          img(src="/images/slides/policymic.jpg")
        a.slide.pushstate(href="/projects/eric-legrand-foundation", title="View project the Eric Legrand Foundation")   
          img(src="/images/slides/eric-legrand-foundation.jpg")     
        a.slide.pushstate(href="/projects/dekko", title="View project Dekko.co")   
          img(src="/images/slides/dekko.jpg")      
        a.slide.pushstate(href="/projects/worthington-energy", title="View project WEnergyInc.com")
          img(src="/images/slides/wenergyinc.jpg")
        //- a.slide.pushstate(href="/projects/half-pretties", title="View project halfpretties.com")
        //-   img(src="/images/slides/halfpretties.jpg")          
        //- a.slide.pushstate(href="/projects/ezcustomshirts", title="View project EzCustomShirts.com")
        //-   img(src="/images/slides/ezcustomshirts.jpg")      
        nav#slideshow-nav.clearfix

    .development.clearfix
      h3 What We Do
      section.web-applications
        h4 Web Applications
        ul
          li Ruby on Rails
          li CakePHP, ZendFramework, CodeIgniter
          li User Experience Analysis
          li Wireframing
          li A/B & Multivariate Testing
          li Full Server Administration
      section.ecommerce
        h4 Ecommerce
        ul
          li Magento - Full Store and Extension Development
          li Shopify
          li OScommerce 
          li Fully Custom Solutions
          li Secure Server Environment Administration
      section.bleeding-edge
        h4 Bleeding Edge
        ul
          li Node.js
          li HTML5 - WebSockets, Geolocation, Canvas
          li HTML5 Game Development
          li Large, Real-Time, JavaScript based web applications


    //- section#what
      h3 For the Technical Folks
      article
        ul
          li Node.js - expressjs + jade + stylus = event driven web applications done in a beautiful way
          li Ruby on Rails + HAML + SASS = MVC at its best
          li 
          li OOP JavaScript, Modernizr, Bleeding edge front-end and back-end development
