- view_body_class.set("");
section#home
  article
    header
      h1 We develop and design top of the line websites.
      h2
        :markdown
          Our process adheres to industry **best practices** in addition to what we have gathered on our own with **decades** worth of **development**, **design**, and **user experience** knowledge.
      

    //- section#what
      h3 For the Technical Folks
      article
        ul
          li Node.js - expressjs + jade + stylus = event driven web applications done in a beautiful way
          li Ruby on Rails + HAML + SASS = MVC at its best
          li 
          li OOP JavaScript, Modernizr, Bleeding edge front-end and back-end development
