- page_title.set("Technology We Love");
- view_body_class.set("");
section#technology
  article
    header
      h1 What We Love
      h2
        :markdown
          These are **a few** of the technologies we constantly find ourselves using.  

    section.clearfix#html5
      h2(hidden) HTML5
      .branding
      article.technology-description
        :markdown
          **HTML5, CSS3, and Responsive Design** are some of the quintessential buzzwords of the current tech world.  Many companies just bring them up in a meeting or throw them on an proposal. **We use these technologies**, this website uses them, and we have some really unique use cases that we are currently working on that we will show off later this year... and hopefully integrate into your future product.

    section.clearfix#rubyonrails
      h2(hidden) Ruby On Rails
      .branding
      article.technology-description
        :markdown
          **Ruby on Rails** is a world class web application programming language backed by a strong community and a very well done implementation of web applicaiton best practices. Additionally it is an extremely efficient framework for most web application projects from a deployment, scalability and future hire perspective.

    section.clearfix#wordpress
      h2(hidden) WordPress
      .branding
      article.technology-description
        :markdown
          **WordPress** is a great **content management system** for any company that wants to be at the helm of their website.  It has one of the strongest communities in the world and continues to grow. We have developed a very well thought out workflow that not only creates a beautiful product but cuts down on the cost, future development and code maintainence.

    section.clearfix#shopify
      h2(hidden) Shopify
      .branding
      article.technology-description
        :markdown
          <a href="http://shopify.com" target="_blank">**Shopify**</a> is an awesome hosted **e-commerce solution** for any size company.  We are a **Shopify Partner** and have ton's of e-commerce development, design, UX, and store management experience.  We have run our own stores and have worked with brands to help create an online and mobile presence.

    section.clearfix#magento
      h2(hidden) Magento
      .branding
      article.technology-description
        :markdown
          **Magento** is the most powerful open source **e-commerce** platform in the world, which is probably a large part of the reason why eBay acquired them for <a href="http://techcrunch.com/2011/06/23/ebay-acquired-magento-for-over-180-million-but-not-everyone-is-smiling/" target="_blank">$180 million</a> in 2011.  We have extensive experience developing custom Magento Extensions, Themes and full websites.  We have a deep understanding of order fullfillment, credit card processing, and customer retention methods.

    section.clearfix#nodejs
      h2(hidden) Node.js
      .branding
      article.technology-description
        :markdown
          This website is built on a custom **Node.js** framework.  Why? Because we love to develop with **Node.js**, **Stylus**, and **Jade**.  Never heard of these things?  Let us tell you about them and why we believe they are the future of web development.  Give us a call or shoot us a message over at our <a class="pushstate" href="/contact">Contact Page</a>

    section.clearfix#github
      h2(hidden) github
      .branding
      article.technology-description
        :markdown
          We believe in accountability and consistent, transparent progress.  Each project receives a private <a href="http://github.com" target="_blank">**github**</a> version control management repository. Your code is safe, backed-up, accessible, and can follow an agile development process if you so desire.
    

    //- section#what
      h3 For the Technical Folks
      article
        ul
          li Node.js - expressjs + jade + stylus = event driven web applications done in a beautiful way
          li Ruby on Rails + HAML + SASS = MVC at its best
          li 
          li OOP JavaScript, Modernizr, Bleeding edge front-end and back-end development
