- view_body_class.set("index");
- page_title.set("Contact Us");
article
  header
    h1 Hire Us
  nav#contact-form-navigation.clearfix
    ul
      li
        a.btn.grey.active(href='#project', title="Hire Us") Submit A Project
      li
        a.btn.grey(href='#send', title="Message Us") Send A Message
      // li
        a.btn.grey(href='#') Need a Job?
  form#project-message.contact-form.clearfix.two-column.active(action="/contact", method="post")
    input(type="hidden", name="form", value="Project")

    .left.field
      label(for="name") Name
      input#name.text(type='text', name="name", autofocus="autofocus")
    .right.field
      label(for="organization") Organization
      input#name.text(type='organization', name="organization")

    .left.field
      label(for="email") Email
      input#email.text(type='email', name="email")
    .right.field
      label(for="tel") Phone
      input#tel.text(type='tel', name="tel")

    .left.field
      label(for="date") Desired deadline
      input#date.text(type='date', name="date")
    .right.field
      label(for="budget") Budget
      select#budget(name="budget")
        option(value="less than $5,000") less than $5,000
        option(value="$5,000 - $10,000") $5,000 - $10,000
        option(value="$10,000 - $20,000", selected="selected") $10,000 - $20,000
        option(value="$20,000 - $50,000") $20,000 - $50,000
        option(value="$50,000 - $100,000") $50,000 - $100,000
        option(value="over $100,000") more than $100,000

    .field.textarea
      label#project-message-label(for="message") Message
      textarea#project-message(name="message")
    input#submit.btn.grey(type="submit", value="Submit Project")

  form#send-message.contact-form.clearfix(action="/contact", method="post")
    input(type="hidden", name="form", value="Message")
    .field
      label(for="name") Name
      input#name.text(type='text', name="name", autofocus="autofocus")
    .field
      label(for="email") Email
      input#email.text(type='email', name="email")
    .field
      label(for="message") Message
      textarea#message(name="message")
    input#submit.btn.grey(type="submit", value="Submit Message")

aside#contact-info
  #phone
    h3
      // span.icon
      | Call Us
    a(href="tel:6467702459") (646) 770-2459
  #email
    h3
      // span.icon
      | Email Us
    a(href='mailto:team@fourfiftynine.com') team@fourfiftynine.com
  #turn-around.clearfix
    :markdown
      We will respond to your message within 1 business day.
  h3#success-message