article
  header
    h1 We develop and design top of the line websites.
    #images.clearfix
      a(href='/projects/dekko')
        .image#dekko
          .name Dekko Inc
      a(href='#')
        .image#halfpretties
          .name Half Pretties
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/3')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/4')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/5')
      a(href='#')
        .image#dekko
      a(href='#')
        .image#halfpretties
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/3')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/4')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/5')
      a(href='#')
        .image#dekko
      a(href='#')
        .image#halfpretties
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/3')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/4')
      a(href='#')
        img(class='image', src='http://lorempixel.com/250/200/technics/5')